name: Auto upgrade dependencies

on:
  workflow_dispatch:

jobs:
  release:
    name: Auto upgrade dependencies
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          fetch-tags: true
          show-progress: true
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}

      # Configure Git
      - name: Configure Git
        run: |
          git config --global user.name ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          git config --global user.email ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

      # Run the upgrade script
      - name: Run Upgrade Script
        env:
          GITHUB_TOKEN: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
        run: |
          ./scripts/upgrade_deps.sh ansys-api-dbu
